@use "@/styles/variables" as vars;

.shadowed {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}

.red {
  color: var(--red);
}

.amber {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.terminal {
  :global(p),
  :global(li) {
    margin: 1rem 0;
    color: var(--white);
  }

  :global(a),
  :global(a:visited) {
    color: var(--accent-1);
    font-weight: bold;

    @media (prefers-reduced-motion: no-preference) {
      animation: changeColors 3s infinite;
    }
  }
}

@keyframes changeColors {
  0%    { color: var(--accent-1); }
  50%   { color: var(--accent-2); }
  100%  { color: var(--accent-1); }
}
