@use "../variables" as vars;

footer {
  color: vars.$dark;
}

.dark {
  background-color: vars.$dark;
  color: vars.$white;
  transition: all 400ms;

  a, i, li {
    color: vars.$white;
    transition: color 400ms;
  }

  a:visited {
    color: vars.$white;
  }

  footer {
    color: vars.$white;
  }
}

.light {
  background-color: vars.$white;
  color: vars.$dark;
  transition: all 400ms;
}
