@use "../variables" as vars;

nav {
  transition: all 400ms;
  z-index: 1;
}

.dark {
  background-color: vars.$dark;
}


.light {
  background-color: vars.$white;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: vars.$transition;

  &:hover {
    transform: translateY(-3px);
    transition: vars.$transition;
  }
}

.link:hover {
  color: unset;
}
